#timothy {
    width: 500px;
}

#colorblind {
    color: #65E73F;
    font-family: "Quicksand";
}

li {
    font-family: "quicksand";
}

body {
    background-image: url("https://th.bing.com/th/id/OIP.AmjFC9hr-A_SCFCS4mTMpQHaEK?rs=1&pid=ImgDetMain");
  }

  #mathsucks {
    background: rgba(255, 255, 255, 0.8);
    height: 597px;
  }